{% autoescape off %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
</head>
<body>
<p>Dear {{ user.username }},</p>
<p>We have received a request to reset the password for your account. To proceed with the password reset, please follow
    the instructions below:</p>
<p>1. Click on the following link to access the password reset page:</p>
<p>
    <a target="_blank"
       href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
        Reset password
    </a>
</p>
<p>2. Once you are on the password reset page, you will be prompted to enter a new password for your account. Choose a
    strong and secure password that is not easily guessable.</p>
<p>If you did not initiate this password reset request, please disregard this email and take the necessary steps to
    secure your account.</p>
<p>Please note that this password reset link is valid for 1 day. After that period, you will need to request another
    password reset if you still need to change your password.</p>
<p>Thanks,</p>
<p>The Our Team</p>
{% endautoescape %}